body {
    background-color: bisque;
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

.grid-container {
    border: 1px solid black;
    width: 550px;
    height: 550px;
    margin-top: 5px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
}


.colored-cell { /*added to cells when clicked*/
    background-color: rgb(95, 158, 160);
}

h1 {
    margin: 5px 0px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    background-color:darksalmon ;
    height: 10px;
    width: 150px;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 2;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:rgb(202, 57, 57) ;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}


#output {
    display: inline;
}

#custom-buttons {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#custom-buttons > button {
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 50px;
    background-color: darksalmon;
    color: indianred;
    font-weight: bolder;
}